<% provide(:title,"About me") %>
<div>
            <div class="parallax-container center valign-wrapper">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <div class="animate__animated animate__fadeInDown">
                                <h3 class="white-text" style="font-weight: 800;">Welcome to my World!</h3>
                                <p class="white-text" style="font-size: 20px; font-weight: 600;">I'm Debasish, A Software Developement student persuing B.Tech degree in Computer Science and Engineering at Lovely Professional University.</p>
                                <a href="" class="btn btn-large waves-effect waves-orange">Explore ></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="parallax">
                    <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg",class: "responsive-img" %>                </div>
                <div class="links"></div>
                <div class="rechts"></div>
            </div>

        </div>

        <div class="white hide-on-med-and-down">
            <div class="section">
                <h3 class="deep-purple-text center">About</h3>
                <div class="divider red" style="width: 100px; margin: 0 auto; font-weight: 600;"></div>
                <div class="row">
                    <div class="col s12 m6">
                        <%= image_tag "myimages.png",class: "responsive-img" %>
                    </div>
                    <div class="col s12 m6">
                        <br>
                        <br>
                        <h5 class="red-text" style="font-weight: 600;">About ME</h5>
                        <p style="font-size: 18px; margin-bottom: 30px;">Hello, There! My name is Debasish.I am a Software Developement Student and I'm very passionate and dedicated towards my career.Meet me or Contact me for any queries. </p>
                        <div style="margin-top: 30px;">
                            <pre class="valign-wrapper" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;"><span class="material-icons blue-text">account_circle</span>   Name: Debasish Mohanta</pre>
                            <pre class="valign-wrapper" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;"><span class="material-icons blue-text">phone_in_talk</span>   Phone:  (+91) 7325874586</pre>
                            <pre class="valign-wrapper" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;"><span class="material-icons blue-text">email</span>   Email: debasish2018rta@gmail.com</pre>
                            <pre class="valign-wrapper" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;"><span class="material-icons blue-text">place</span>  Location:  Bhubaneswar, Odisha</pre>
                            <pre class="valign-wrapper" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;"><span class="material-icons blue-text">language</span>  Languages: English, Hindi, Odia</pre>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="white hide-on-large-only">
            <div class="section">
                <h3 class="deep-purple-text center">Personality</h3>
                <div class="divider red" style="width: 100px; margin: 0 auto; font-weight: 600;"></div>
                <div class="row">
                    <div class="col s10 offset-s1 m10 offset-m1">
                      <%= image_tag "myimages.png",class: "responsive-img" %>
                        <h5 class="red-text">About ME</h5>
                        <p style="font-size: 18px; margin-bottom: 30px;">Hello, There! My name is Debasish.I am a Software Developement Student and I'm very passionate and dedicated towards my career.Meet me or Contact me for any queries. </p>
                        <div style="margin-top: 30px;">
                            <pre class="valign-wrapper" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;"><span class="material-icons blue-text">account_circle</span>   Name: Debasish Mohanta</pre>
                            <pre class="valign-wrapper" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;"><span class="material-icons blue-text">phone_in_talk</span>   Phone:  (+91) 7325874586</pre>
                            <pre class="valign-wrapper" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;"><span class="material-icons blue-text">email</span>   Email: debasish2018rta@gmail.com</pre>
                            <pre class="valign-wrapper" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;"><span class="material-icons blue-text">place</span>  Location:  Bhubaneswar, Odisha</pre>
                            <pre class="valign-wrapper" style="font-family: Arial, Helvetica, sans-serif; font-size: 16px;"><span class="material-icons blue-text">language</span>  Languages: English, Hindi, Odia</pre>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="hide-on-small-only black" style="background: #D9D7F1;">
            <div class="section" style="padding: 30px;">
                <h3 class="white-text center">My Skills</h3>
                <div class="divider red" style="width: 70px; margin: 0 auto; font-weight: 600;"></div>
                <br>
                <div class="section">
                    <div class="row">
                        <div class="col s12 l7 m12">
                            <h5 class="red-text" style="font-weight: 600;">Skills</h5>
                            <h4 class="white-text" style="font-weight: 800; text-transform: uppercase;">Programming Skills</h4><br>
                            <p class="white-text" style="font-weight: 600; font-size: 16px;">I have high skills in developing and programming.For more than 2 years I ave been accomplishing enough with modern Web Development, and Web App.</p>
                            <br>
                            <div>
                                <p class="white-text" style="font-weight: bold;">HTML & CSS<span class="right white-text">95%</span></p>
                                <div class="progress">
                                    <div class="determinate red accent-3" style="width: 95%"></div>
                                </div>
                            </div>
                            <div>
                                <p class="white-text" style="font-weight: bold;">JavaScript<span class="right white-text">80%</span></p>
                                <div class="progress">
                                    <div class="determinate red accent-3" style="width: 80%"></div>
                                </div>
                            </div>
                            <div>
                                <p class="white-text" style="font-weight: bold;">Ruby on Rails<span class="right white-text">90%</span></p>
                                <div class="progress">
                                    <div class="determinate red accent-3" style="width: 90%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col l4 offset-l1 hide-on-med-only">
                            <h5 class="red-text" style="font-weight: 600;">Area of Interest</h5>
                            <h3 class="white-text" style="font-weight: 800;">Interests</h3><br>
                            <div>
                                <span class="white red-text" style="font-weight: 800; padding: 5px 10px; font-size: 16px; border-radius: 2px;margin: 5px; display: inline-block;">Photoshop</span>
                                <span class="white red-text" style="font-weight: 800; padding: 5px 10px; font-size: 16px; border-radius: 2px;margin: 5px; display: inline-block;">Problem-solving</span>
                                <span class="white red-text" style="font-weight: 800; padding: 5px 10px; font-size: 16px; border-radius: 2px;margin: 5px; display: inline-block;">Web Developement</span>
                                <span class="white red-text" style="font-weight: 800; padding: 5px 10px; font-size: 16px; border-radius: 2px;margin: 5px; display: inline-block;">communication</span>
                                <span class="white red-text" style="font-weight: 800; padding: 5px 10px; font-size: 16px; border-radius: 2px;margin: 5px; display: inline-block;">UFOs</span>
                                <span class="white red-text" style="font-weight: 800; padding: 5px 10px; font-size: 16px; border-radius: 2px;margin: 5px; display: inline-block;">Social Networking</span>
                                <span class="white red-text" style="font-weight: 800; padding: 5px 10px; font-size: 16px; border-radius: 2px;margin: 5px; display: inline-block;">Social Media</span>
                                <span class="white red-text" style="font-weight: 800; padding: 5px 10px; font-size: 16px; border-radius: 2px;margin: 5px; display: inline-block;">Web Design</span>
                                <span class="white red-text" style="font-weight: 800; padding: 5px 10px; font-size: 16px; border-radius: 2px;margin: 5px; display: inline-block;">Photography</span>
                                <span class="white red-text" style="font-weight: 800; padding: 5px 10px; font-size: 16px; border-radius: 2px;margin: 5px; display: inline-block;">Software Development</span>


                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="hide-on-med-and-up">
            <div class="section">
                <h3 class="deep-purple-text center">Programming Skills</h3>
                <div class="divider red" style="width: 100px; margin: 0 auto; font-weight: 600;"></div>
                <br>
                <div class="row center">
                    <div class="col s10 offset-s1">
                        <%= image_tag "html-small.png", :class => "responsive-img",:style => "width: 128px; height: 128px;" %>
                        <h4>Hyper Text Markup Language</h4>
                        <p>I have been using HTML5 since when I was in College.It s a markup language used for structuring and presenting content on the World Wide Web.</p>
                    </div>
                    <br><br>
                    <div class="col s10 offset-s1">
                        <%= image_tag "css-small.jpg", :class => "responsive-img",:style => "width: 128px; height: 128px;" %>
                        <h4>Cascading Style Sheet</h4>
                        <p>CSS3 is used for styling the web pages which are made in html5.I love to use CSS3 in the web pages.</p>
                    </div>
                    <br>
                    <div class="col s10 offset-s1">
                        <%= image_tag "js-small.png", :class => "responsive-img",:style => "width: 128px; height: 128px;" %>
                        <h4>JavaScript</h4>
                        <p>JavaScript, often abbreviated JS, is a programming language that is one of the core technologies of the World Wide Web, alongside HTML and CSS. </p>
                    </div>

                    <div class="col s10 offset-s1">
                        <%= image_tag "jquery-small1.png", :class => "responsive-img",:style => "width: 128px; height: 128px;" %>
                        <h4>jQuery</h4>
                        <p>jQuery is a JavaScript library designed to simplify HTML DOM tree traversal and manipulation, as well as event handling, CSS animation, and Ajax.</p>
                    </div>

                    <div class="col s10 offset-s1">
                        <%= image_tag "python-small3.png", :class => "responsive-img",:style => "width: 128px; height: 128px;" %>
                        <h4>Python</h4>
                        <p>I have completed many python courses from Coursera.I love to do Competitive Coding in Python Programming Language.</p>
                    </div>

                    <div class="col s10 offset-s1">
                        <%= image_tag "rails3.png", :class => "responsive-img",:style => "width: 128px; height: 128px;" %>
                        <h4>Ruby on Rails</h4>
                        <p>Ruby on Rails is one of my Favourite Framework which I have used.It is a model–view–controller framework, providing default structures for a database, a web service, and web pages.</p>
                    </div>

                </div>
            </div>
        </div>


        <!-- Education -->
        <div class="grey lighten-4">
            <div class="section">
                <div class="container">
                    <h3 class="deep-purple-text center">Education</h3>
                    <div class="divider red" style="width: 100px; margin: 0 auto; font-weight: 600;"></div>
                    <p class="center" style="font-size: 20px;">Where I've studied till now ? Read details about my Schooling.</p>
                    <br>
                    <br>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="..."></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h6>2013-2018</h6>
                                    <h5 class="subheading">Rtapalli Vidyapitha</h5>
                                </div>
                                <div class="timeline-body"><p class="text-muted">I have completed my High Schooling here and also participated in many challenging mathematics, science olympiads , and achived some of them e.g. RMO ,SASMO ,SIMOC etc.</p></div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="..."></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h6>2018-2020</h6>
                                    <h5 class="subheading">Lord Buddha Public School</h5>
                                </div>
                                <div class="timeline-body"><p class="text-muted">In this period of time, I've developed and learned many skills such as HTML,CSS,JavaScript.In my college days, I've a great interest raised for the Cybersecurity and Penetration Testing.</p></div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="..."></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h6>2020 - Present</h6>
                                    <h5 class="subheading">Lovely Professional University</h5>
                                </div>
                                <div class="timeline-body"><p class="text-muted">Currently, I am persuing B.Tech degree at Lovely Professional University in the field of Computer Science and Engineering.Till now, I've learned many skills e.g. Ruby on Rails,Bootstrap etc.</p></div>
                            </div>
                        </li>

                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    <br>
                                    <b>End</b>
                                </h4>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="white">
            <div class="section">
                <h3 class="deep-purple-text center">Certification</h3>
                <div class="divider red" style="width: 100px; margin: 0 auto; font-weight: 600;"></div>
                <br>
                <div class="row">
                    <div class="col s11 offset-s1 m11 offset-m1">
                        <h4 style="font-weight:bolder;" class="">Coursera Specializations</h4>
                        <h5>Certificates</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col s10 offset-s1 m5 offset-m1">
                        <div class="row">
                            <div class="col s3">
                                <%= image_tag "golang.png",class: "responsive-img" %>
                            </div>
                            <div class="col s9">
                                <h6 style="font-size: 22px;"><a href="">Programming with Google Go</a></h6>
                                <p class="grey-text" style="font-size: 16px;line-height: 25%;">Expires: does not expire</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s10 offset-s1 m5">
                        <div class="col s3">
                          <%= image_tag "python-small3.png",class: "responsive-img" %>
                        </div>
                        <div class="col s9">
                            <h6 style="font-size: 22px;"><a href="">Python3 Programming</a></h6>
                            <p class="grey-text" style="font-size: 16px;line-height: 25%;">Expires: does not expire</p>
                        </div>
                    </div>
                </div>

                <!-- Coursera - Google Certifications -->

                <div class="row">
                    <div class="col s11 offset-s1 m11 offset-m1">
                        <h4 style="font-weight:bolder;" class="">Google Certifications - Coursera</h4>
                        <h5>Certificates</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col s10 offset-s1 m5 offset-m1">
                        <div class="row">
                            <div class="col s3">
                                <%= image_tag "os.png",class: "responsive-img" %>

                            </div>
                            <div class="col s9">
                                <h6 style="font-size: 22px;"><a href="">Operating Systems and You:Becoming a Power User</a></h6>
                                <p class="grey-text" style="font-size: 16px;line-height: 25%;">Expires: does not expire</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s10 offset-s1 m5">
                        <div class="col s3">
                          <%= image_tag "networking.jpg",class: "responsive-img" %>
                        </div>
                        <div class="col s9">
                            <h6 style="font-size: 22px;"><a href="">Bits and Bytes of Coputer Networking</a></h6>
                            <p class="grey-text" style="font-size: 16px;line-height: 25%;">Expires: does not expire</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s10 offset-s1 m5 offset-m1">
                        <div class="row">
                            <div class="col s3">
                              <%= image_tag "ubuntu1.png",class: "responsive-img" %>
                            </div>
                            <div class="col s9">
                                <h6 style="font-size: 22px;"><a href="">Using Python to interact with Operating System</a></h6>
                                <p class="grey-text" style="font-size: 16px;line-height: 25%;">Expires: does not expire</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s10 offset-s1 m5">
                        <div class="col s3">
                          <%= image_tag "technical.jpg",class: "responsive-img" %>
                        </div>
                        <div class="col s9">
                            <h6 style="font-size: 22px;"><a href="">Technical Support Fundamentals</a></h6>
                            <p class="grey-text" style="font-size: 16px;line-height: 25%;">Expires: does not expire</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s10 offset-s1 m5 offset-m1">
                        <div class="row">
                            <div class="col s3">
                              <%= image_tag "python-small3.png",class: "responsive-img" %>
                            </div>
                            <div class="col s9">
                                <h6 style="font-size: 22px;"><a href="">Crash Course on Python</a></h6>
                                <p class="grey-text" style="font-size: 16px;line-height: 25%;">Expires: does not expire</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s10 offset-s1 m5">

                    </div>
                </div>

                <!-- Frontend Certifications -->

                <div class="row">
                    <div class="col s11 offset-s1 m11 offset-m1">
                        <h4 style="font-weight:bolder;" class="">Frontend Certifications</h4>
                        <h5>Certificates</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col s10 offset-s1 m5 offset-m1">
                        <div class="row">
                            <div class="col s3">
                              <%= image_tag "html5-logo-31814.png",class: "responsive-img" %>
                            </div>
                            <div class="col s9">
                                <h6 style="font-size: 22px;"><a href="">Introduction to HTML5</a></h6>
                                <p class="grey-text" style="font-size: 16px;line-height: 25%;">Expires: does not expire</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s10 offset-s1 m5">
                        <div class="col s3">
                          <%= image_tag "materialize.png",class: "responsive-img" %>
                        </div>
                        <div class="col s9">
                            <h6 style="font-size: 22px;"><a href="">Learning Materialize CSS</a></h6>
                            <p class="grey-text" style="font-size: 16px;line-height: 25%;">Expires: does not expire</p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col s10 offset-s1 m5 offset-m1">
                        <div class="row">
                            <div class="col s3">
                              <%= image_tag "bootstrap-logo.svg",class: "responsive-img" %>
                            </div>
                            <div class="col s9">
                                <h6 style="font-size: 22px;"><a href="">Learn Bootstrap Course</a></h6>
                                <p class="grey-text" style="font-size: 16px;line-height: 25%;">Expires: does not expire</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s10 offset-s1 m5">
                        <div class="col s3">
                          <%= image_tag "js.png",class: "responsive-img" %>
                        </div>
                        <div class="col s9">
                            <h6 style="font-size: 22px;"><a href="">JavaScript Basics</a></h6>
                            <p class="grey-text" style="font-size: 16px;line-height: 25%;">Expires: does not expire</p>
                        </div>
                    </div>
                </div>

                <!-- Backend Certifications -->

                <div class="row">
                    <div class="col s11 offset-s1 m11 offset-m1">
                        <h4 style="font-weight:bolder;" class="">Back-end Certifications</h4>
                        <h5>Certificates</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col s10 offset-s1 m5 offset-m1">
                        <div class="row">
                            <div class="col s3">
                              <%= image_tag "rails5.png",class: "responsive-img" %>
                            </div>
                            <div class="col s9">
                                <h6 style="font-size: 22px;"><a href="">Ruby on Rails 6 Series - Linkedin Learning</a></h6>
                                <p class="grey-text" style="font-size: 16px;line-height: 25%;">Expires: does not expire</p>
                            </div>
                        </div>
                    </div>

                    <div class="col s10 offset-s1 m5">
                        <div class="col s3">
                          <%= image_tag "rails2.png",class: "responsive-img" %>
                        </div>
                        <div class="col s9">
                            <h6 style="font-size: 22px;"><a href="">Learn Ruby on Rails Course - codecademy</a></h6>
                            <p class="grey-text" style="font-size: 16px;line-height: 25%;">Expires: does not expire</p>
                        </div>
                    </div>
                </div>



            </div>

        </div>

        <div class="">
            <div class="section">
                <div class="row center valign-wrapper" style="height: 250px; width: 400px;">
                    <p class="" style="font-size: 22px;">Thanks for taking a few minutes on my Profile.Let's connect and grow together!</p>

                </div>
            </div>
        </div>
