<% provide(:title,"Blogs") %>
<div class="section container" style="width:90%;">
            <div class="row">
                <div class="col s12 m12 l7">
                    <%= image_tag "rest-sunshine-atoll-bungalow-holiday.jpg" ,:class => "responsive-img" %>
                    <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 18px;font-weight: 700; padding: 7px;border-radius: 3px;">space</span></p>
                    <h3 class="blue-text" style="font-weight: 600;">Lorem ipsum dolor sit amet true love for consectetur adipisicing.</h3>
                </div>
                <div class="col l5 hide-on-med-only">
                    <div class="row">
                        <hr class="blue blue-text" style="height: 5px;">
                        <h3 class="center blue-text" style="font-weight: 800;">Trending</h3>
                        <br>
                        <div class="col s5 l6">
                            <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                        </div>
                        <div class="col s7 l6">
                            <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                            <h6 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s5 l6">
                            <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                        </div>
                        <div class="col s7 l6">
                            <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                            <h6 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s5 l6">
                            <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                        </div>
                        <div class="col s7 l6">
                            <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                            <h6 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h6>
                        </div>
                    </div>
                </div>

                <div class=" col m12 hide-on-large-only hide-on-small-only">
                    <h3 class="center" style="font-weight: 800;">Trending</h3>
                    <br>
                    <div class="row">
                        <div class="col m4">
                                <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                                <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                                <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>

                        </div>

                        <div class="col m4">
                                <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                                <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                                <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
                        </div>

                        <div class="col m4">
                                <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                                <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                                <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section container" style="width: 90%;">
            <br>
            <br>
            <h1 class="center blue-text" style="font-weight: 900;">Ruby on Rails</h1>
            <br>
            <br>
            <div class="section">
                <div class="row">
                    <div class="col l4 m12 s12">
                        <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                        <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                        <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
                    </div>

                    <div class="col l4 m6 s12">
                        <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                        <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                        <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
                    </div>

                    <div class="col l4 m6 s12">
                        <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                        <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                        <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
                    </div>
                </div>
                <br>
                <br>
                <div class="center">
                    <a href="" class="btn center more-btn">Explore More</a>
                </div>
            </div>
        </div>
        <div class="section container" style="width: 90%;">
            <br>
            <h1 class="center blue-text" style="font-weight: 900;">Highlights</h1>
            <br>

            <div class="row">
                <div class="col l6 m12">
                    <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                    <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                    <h4 style="font-weight: 600;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid, atque.</h4>

                </div>
                <div class="col l6 m12 hide-on-small-only">
                    <div class="row">
                        <div class="col l5 offset-l1 m6">
                            <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                            <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                            <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consect.</h5>
                        </div>
                        <div class="col l5 offset-l1 m6">
                            <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                            <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                            <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consect.</h5>
                        </div>
                        <div class="col l5 offset-l1 m6">
                            <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                            <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                            <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
                        </div>
                        <div class="col l5 offset-l1 m6">
                            <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                            <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                            <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
                        </div>

                    </div>
                </div>

                <div class="hide-on-med-and-up">
                    <div class="row">
                        <div class="col s12">
                            <div class="row">
                                <div class="col s5">
                                    <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                                </div>
                                <div class="col s7">
                                    <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                                    <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s5">
                                    <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                                </div>
                                <div class="col s7">
                                    <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                                    <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s5">
                                    <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                                </div>
                                <div class="col s7">
                                    <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                                    <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col s5">
                                    <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                                </div>
                                <div class="col s7">
                                    <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                                    <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Add one Ads -->

        <div class="section container" style="width: 90%;">
            <br>
            <h1 class="center blue-text" style="font-weight: 900;">Others</h1>
            <br>
            <br>
            <div class="row">
                <div class="col l3 m12 s12">
                    <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                    <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                    <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>

                </div>
                <div class="col s12 l3 hide-on-med-only">
                    <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                    <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                    <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
                </div>
                <div class="col s12 l3 hide-on-med-only">
                    <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                    <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                    <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
                </div>
                <div class="col s12 l3 hide-on-med-only">
                    <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                    <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                    <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
                </div>

                <div class="col m12 hide-on-large-only hide-on-small-only">
                    <div class="row">
                        <div class="col s5">
                            <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                        </div>
                        <div class="col s7">
                            <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                            <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s5">
                            <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                        </div>
                        <div class="col s7">
                            <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                            <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s5">
                            <%= image_tag "beautiful-shot-small-lake-with-wooden-rowboat-focus-breathtaking-clouds-sky.jpg" ,:class => "responsive-img" %>
                        </div>
                        <div class="col s7">
                            <p style="margin-left: 5px;"><span class="tag black white-text" style="font-size: 14px;font-weight: 800; padding: 7px;border-radius: 3px;">space</span></p>
                            <h5 style="font-weight: 600;">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h5>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="center">
                <a href="" class="center btn">explore more</a>
            </div>
        </div>
