<% provide(:title,"Skills") %>
<style media="screen">
  .card{
    position: relative;
  }
</style>
<div class="section container">
            <div class="center">
                <h3 class="center deep-purple-text section animate__animated animate__fadeInDown" style="font-weight: 900;">Technical Skills</h3>
                <div class="section animate__animated animate__fadeInRight" style="">
                    <p style="font-size:24px;">Let's explore all of my technical skills which I have acquired through completing Various courses and Webinars.</p>
                </div>
            </div>
        </div>
        <div class="section container section animate__animated animate__fadeInUp" style="width: 90%;">
            <div class="row">
                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="ribbon"><span>certified</span></div>
                        <div class="card-image">
                            <%= image_tag "css-small.jpg", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">CSS3</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="ribbon"><span>certified</span></div>
                        <div class="card-image">
                            <%= image_tag "html5-display.png", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">HTML5</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="card-image">
                            <%= image_tag "pinic.png", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">Picnic CSS</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="ribbon"><span>certified</span></div>
                        <div class="card-image">
                            <%= image_tag "golang.png" style="height:170px;" alt="" class="responsive-img">
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">Go Lang</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="card-image">
                            <%= image_tag "wordpress.jpeg", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">Word Press</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="card-image">
                            <%= image_tag "bitbucket-logo.png", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">Bit Bucket</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="card-image">
                            <%= image_tag "git.png", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">Git</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="ribbon"><span>certified</span></div>
                        <div class="card-image">
                            <%= image_tag "kali.jpg", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">Linux</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="ribbon"><span>certified</span></div>
                        <div class="card-image">
                            <%= image_tag "photoshop.jpeg", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">Adobe Photoshop</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="ribbon"><span>certified</span></div>
                        <div class="card-image">
                            <%= image_tag "bootstrap.jpeg", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">Bootstrap</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="ribbon"><span>certified</span></div>
                        <div class="card-image">
                            <%= image_tag "materializecss.png", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">MaterializeCSS</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="card-image">
                            <%= image_tag "milligram-framework.jpg", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">Milligram</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="card-image">
                            <%= image_tag "material.png", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">Material Design</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="card-image">
                            <%= image_tag "vmware.png", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">VMware</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="card-image">
                            <%= image_tag "heroku.png", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">Heroku</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="ribbon"><span>certified</span></div>
                        <div class="card-image">
                            <%= image_tag "s/rails.png", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">Ruby on Rails</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="ribbon"><span>certified</span></div>
                        <div class="card-image">
                            <%= image_tag "python-small3.png", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">Python</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="ribbon"><span>certified</span></div>
                        <div class="card-image">
                            <%= image_tag "ruby.png", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">Ruby</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="card-image">
                            <%= image_tag "jquery-small.jpg", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">jQuery</p>
                        </div>
                    </div>
                </div>


                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="ribbon"><span>certified</span></div>
                        <div class="card-image">
                            <%= image_tag "js.png", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">JavaScript</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="card-image">
                            <%= image_tag "vue.png", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">Vue.js</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="card-image">
                            <%= image_tag "osint.png", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">OSINT</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="ribbon"><span>certified</span></div>
                        <div class="card-image">
                            <%= image_tag "nmap.jpeg", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">Nmap</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="ribbon"><span>certified</span></div>
                        <div class="card-image">
                            <%= image_tag "wireshark.png", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">Wireshark</p>
                        </div>
                    </div>
                </div>

                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="card-image">
                            <%= image_tag "cp.png", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">Competitive Coding</p>
                        </div>
                    </div>
                </div>
                <div class="col l3 m4 s10 offset-s1">
                    <div class="card hoverable">
                        <div class="ribbon"><span>certified</span></div>
                        <div class="card-image">
                            <%= image_tag "aircrack.jpeg", :style => "height: 170px;", :class => "responsive-img" %>
                        </div>
                        <div class="card-content">
                            <p class="center" style="font-weight: 600;">Wifi Hacking</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
